<%- include("partials/header") %> 
<section>
        <div class="container-fluid  px-0">
            <div class="row align-items-center content">
                <div class="col-md-6 text-center ">
                    <div class="row justify-content-center">
                        <div class="col-10 col-lg-8">
                            <h2>COFFILICOUS</h2>
                            <img src="https://image.flaticon.com/icons/svg/633/633652.svg" style="width:10%" alt="">
                            <p class="mt-4">Coffee is a popular drink with many people in the world. This is evident from the number of coffee chains across the globe like Coffilicious.Coffee, like tea, has caffeine which acts as a brain stimulant and leads to alertness making coffee breaks much awaited especially in jobs with high stress levels.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 px-0 ">
                    <img src="https://images.unsplash.com/photo-1497515114629-f71d768fd07c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1062&q=80" alt="" class="img-fluid">
                </div>
            </div>
        </div>
      </section>
      <section>
        <div class="container-fluid  px-0">
            <div class="row align-items-center content ">
                <div class="col-md-6 order-2 order-md-1">
                    <img src="https://images.unsplash.com/photo-1511537190424-bbbab87ac5eb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="" class="img-fluid">
                </div>
                <div class="col-md-6 text-center order-1 order-md-2">
                    <div class="row justify-content-center">
                        <div class="col-10 col-lg-8">
                            <h2>COFFILICOUS</h2>
                            <img src="https://image.flaticon.com/icons/svg/633/633652.svg" style="width:10%" alt="">
                            <p class="mt-4">We gather our coffee from the finest herbs across the world and we run a lot of stages for cleaning the coffee beans and maintaining the sanity of the beans</p>
                        </div>
                    </div>
                </div>
            </div>
          </div>    
      </section>
      <section>
        <div class="container-fluid  px-0">
            <div class="row align-items-center content">
                <div class="col-md-6 text-center">
                    <div class="row justify-content-center">
                        <div class="col-10 col-lg-8">
                            <h2>COFFILICOUS</h2>
                            <img src="https://image.flaticon.com/icons/svg/633/633652.svg" style="width:10%" alt="">
                            <p class="mt-4">We provide various wide range of options for you to select the coffee you desire the most.We have the world's best brewers for the making of our coffee</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 px-0">
                    <img src="https://images.unsplash.com/photo-1497935586351-b67a49e012bf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80" alt="" class="img-fluid">
                </div>
            </div>
        </div>
      </section>
      <section>
        <div class="container-fluid  px-0">
            <div class="row align-items-center content ">
                <div class="col-md-6 order-2 order-md-1">
                    <img src="https://images.unsplash.com/photo-1495474472287-4d71bcdd2085?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="" class="img-fluid">
                </div>
                <div class="col-md-6 text-center order-1 order-md-2">
                    <div class="row justify-content-center">
                        <div class="col-10 col-lg-8">
                            <h2>COFFILICOUS</h2>
                            <img src="https://image.flaticon.com/icons/svg/633/633652.svg" style="width:10%" alt="">
                            <p class="mt-4">Exceptional coffees from around the world. Sourced for the season, roasted at Coffilicious Reserve® Roasteries and crafted with care.</p>
                        </div>
                    </div>
                </div>
            </div>
          </div>    
      </section>
      <section>
        <div class="container-fluid  px-0">
            <div class="row align-items-center content">
                <div class="col-md-6 text-center">
                    <div class="row justify-content-center">
                        <div class="col-10 col-lg-8">
                            <h2>COFFILICOUS</h2>
                            <img src="https://image.flaticon.com/icons/svg/633/633652.svg" style="width:10%" alt="">
                            <p class="mt-4">Our coffee masters have distilled their years of tasting knowledge down to three simple questions to help you find a Starbucks coffee you’re sure to love.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 px-0">
                    <img src="https://images.unsplash.com/photo-1518832553480-cd0e625ed3e6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="" class="img-fluid">
                </div>
            </div>
        </div>
      </section>
<%- include("partials/footer") %>